nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(145, 219, 126);
  gap: 45px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s;
}

nav a:hover {
  color: yellow;
}

nav a svg {
  margin-right: 5px;
}
